{% extends 'base.html' %}

{% block title%}
Главная сраница
{% endblock %}

{% block userinfo%}
Вы не авторизованы
{% endblock %}

{% block article%}
 <div class="boxConteiner">
            <div class="box">
                <h1 class="bigText">Вы впервые попали на наш сайт?</h1>
                <br />
                <br />
                <div class="description">
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание
                    <br />
                    <br />
                    И в конце такие:
                </div>
                <div class="BoxForButtons">
                    <a href="/CreateAccount" class="ButtonReference" id="CreateAccount" title="Создание нового аккаунта">
                        Регистрация
                    </a>
                    <a href="/SignIn" class="ButtonReference" id="SignIn" title="Подтверждение личности пользователя">
                        Вход
                    </a>
                </div>
            </div>
        </div>
{% endblock %}