<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Something happens" />
    <title>
        Расписание ЧелГУ
    </title>
    <link href="StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav id="NavHead">
            <div id="Logos">
                <a href="https://www.csu.ru" target="_blank" title="Сайт ЧелГУ" class="PhotoRederence">
                    <img id="logoChelgu" src="Logo.jpg" alt="Alternate Text" />
                </a>
                <a href="https://eu.iit.csu.ru/login/index.php" target="_blank" title="Мудл ИИТ" class="PhotoRederence">
                    <img id="logoIIT" src="logo-iit2.png" alt="Alternate Text" />
                </a>
            </div>        
            <div id="UserInfo">
                Вы не авторизованы
            </div>
        </nav>
    </header>
    <article>
        <div class="boxConteiner">
            <div class="box">
                <h1 class="bigText">Вы впервые попали на наш сайт?</h1>
                <br />
                <br />
                <div class="description">
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание,
                    Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание, Здесь юудет описание
                    <br />
                    <br />
                    И в конце такие:
                </div>
                <div class="BoxForButtons">
                    <a href="/CreateAccount" class="ButtonReference" id="CreateAccount" title="Создание нового аккаунта">
                        Регистрация
                    </a>
                    <a href="/SignIn" class="ButtonReference" id="SignIn" title="Подтверждение личности пользователя">
                        Вход
                    </a>
                </div>                            
            </div>
        </div>
    </article>
    <footer>
        <div id="Authors">
            Авторы:
            <a href="https://vk.com/vlad7402" target="_blank" title="Front-end" class="reference">
                Рытый Владислав
            </a>,
            <a href="https://vk.com/insalutary" target="_blank" title="Back-end" class="reference">
                Головина Яна
            </a>,
            <a href="https://vk.com/sphinx_an" target="_blank" title="Manager" class="reference">
                Ковыляева Анастасия
            </a>.
        </div>
    </footer>

</body>
</html>
